{% extends 'base.html' %}


{% block content %}
<h1 class="text-center">Dog Details</h1>
</br></br></br>
<div class="container">
    <div class="row align-items-start">
        <div class="card col">
            <h3 class="card-title text-primary text-center">{{ dog.name }}</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Breed: {{ dog.breed }}</li>
                <li class="list-group-item">Description: {{ dog.description }}</li>
                {% if dog.age > 0 %}
                    <li class="list-group-item">Age: {{ dog.age }}</li>
                {% else %}
                    <li class="list-group-item">Age: Pup</li>
                {% endif %}
            </ul>
        <br>
            <a class="btn btn-outline-dark" style="width: 10rem;" href="{% url 'dogs_update' dog.id %}">Edit</a>
        <br>
            <a class="btn btn-outline-dark" style="width: 10rem;" href="{% url 'dogs_delete' dog.id %}">Delete</a>
        </div>
        <div class="col offset-md-2">
            <form class="form-control" action="{% url 'add_feeding' dog.id %}" method="POST">
                {% csrf_token %}
                {{ feeding_form.as_p }}
                <input type="submit" class="btn btn-outline-dark" value="Add Feeding">
            </form>
        <br>
        {% if dog.fed_for_today %}
            <div class="alert alert-success text-center">{{ dog.name }} has been fed all meals for today!</div>
        {% else %}
            <div class="alert alert-danger text-center">{{ dog.name }} might be hungry!</div>
        {% endif %}
            <table class=" table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Meal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feeding in dog.feeding_set.all %}
                    <tr>
                        <td>{{ feeding.date }}</td>
                        <td>{{ feeding.get_meal_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>      
    </div> 
</div>

<script>
    const dateEl = document.querySelector('#id_date');
    dateEl.type = 'date';

    const selectEl = document.querySelector('#id_meal');
    selectEl.className = 'form-select';
</script>


{% endblock %}